body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
}
.nav a {
  color: white;
  text-decoration: none;
}


.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(75, 70, 70);
  color: white;
  padding: 15px;
  margin-top: 10px;;
  font-size: 1em;
}

.comicimage {

  width: 100%;
  height: 100%;

}


@media screen and (min-width: 768px) {


  .comicimage {

    width: auto;
    height: auto;
  
  }



}